In [29]:
 marks = 79.999999
if marks >= 80 :
    print('you will be the part of A0 batach')
elif marks >=60 and marks< 80 :
    print('you will be a part of A1 batach')
elif marks>=40 and  marks < 60 :
      print ('you will be a part of A2 batach')
else :
    print('you will be a part of A3 batach')

you will be a part of A1 batach

In [ ]:
marks = int(input('enter you marks'))
if marks >= 80 :
    print('you will be the part of A0 batach')
elif marks >=60 and marks< 80 :
    print('you will be a part of A1 batach')
elif marks>=40 and  marks < 60 :
      print ('you will be a part of A2 batach')
else :
    print('you will be a part of A3 batach')

In [23]:
marks = float(input('enter your marks'))

enter your marks 78

In [21]:
7343>=3353366363

False

In [22]:
price = int(input('enter price'))
if price  > 1000:
    print (' will not purches')
else :

    print( ' i will purches')
    if price <5000:
        print('this is too much for sunglass')
    elif price < 2000 :
        print ('its ok')
    elif price < 1000:
         print ('not ok')

enter price 900

 i will purches
this is too much for sunglass

In [25]:
l= [2,42424,24,242,42,424]

In [26]:
for i in l :
    print(i)

2
42424
24
242
42
424

In [34]:
for rakesh in l :
    print(rakesh)

3
42425
25
243
43
425

In [36]:
for rakesh in l :
    print(rakesh+1)

3
42425
25
243
43
425

In [37]:
for rakesh in l :
    print(rakesh)

2
42424
24
242
42
424

In [40]:
l1 =[]
for i in l :
    print(i+1)
    l1.append(i+1)
l1

3
42425
25
243
43
425

[3, 42425, 25, 243, 43, 425]

In [41]:
l

[2, 42424, 24, 242, 42, 424]

In [42]:
l1

[3, 42425, 25, 243, 43, 425]

In [43]:
k = ['rakesh' , 'pwskills' , 'gmamath']

In [44]:
k

['rakesh', 'pwskills', 'gmamath']

In [47]:
k2 =[]
for king in k :
    print(king)
    k2.append(king.upper())
k2

rakesh
pwskills
gmamath

['RAKESH', 'PWSKILLS', 'GMAMATH']

In [48]:
k2

['RAKESH', 'PWSKILLS', 'GMAMATH']

In [88]:
l = [45,45,454,5,'dg','egegeg' , 53,55,3 , 'sfs']

In [89]:
l

[45, 45, 454, 5, 'dg', 'egegeg', 53, 55, 3, 'sfs']

In [124]:
l1_num = []
l2_str = []
for i in l :
    if type(i) == int or type(i) == str :
              l1_num.append(i)
            else :
                l2_str.append(i)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [118]:
l1

[3, 42425, 25, 243, 43, 425]

In [122]:
l2

NameError: name 'l2' is not defined